<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Enable @Component -->
    <context:component-scan base-package="com.kvs.sbean"/>

    <!-- Set values using setter injection -->
    <bean id="mbc" class="com.kvs.sbean.MobileRechargeBillCalculator">
        <property name="planAmount" value="299"/>
        <property name="extraDataUsedGB" value="4"/>
        <property name="costPerGB" value="25"/>
    </bean>

</beans>
