<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Enable @Component -->
    <context:component-scan base-package="com.kvs.sbeans"/>

    <!-- Set values using setter injection -->
    <!-- <bean id="csb" class="com.kvs.sbeans.CarServiceBillGenerator">
        <property name="serviceCharge" value="1200"/>
        <property name="partsCost" value="1800"/>
        <property name="gstPercentage" value="18"/>
    </bean> -->

</beans>
